.nav-list{
    padding: 1.5rem;
}
.nav-links{
    color: #5b5555 !important;
    text-decoration: none;
}
.nav-links.active,
.nav-links:hover{
    color: #4981b3 !important;
}
.navbar{
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
}
marquee{
    color: blue;
    font-weight: bold;
}
label{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
fieldset{
    background: lightgrey;
    width: 700px;
    margin-left: 450px;
}
footer{
    background-color: #5b5555;
    padding: 1rem 2rem 3rem;;
}
footer p, footer a, .socket a{
    color: white;
    text-decoration: none;
}
.socket{
    background-color: #222222;
    border-top: .1rem solid #4981b3;
}